<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jump Page</title>
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>
</head>
<body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var jumpData = [[${jumpData}]];
    /*]]>*/
</script>
<script type="text/javascript">
    $().ready(function () {
        console.log("jumpData.params:" + jumpData.params);
        if (null != jumpData) {
            var form = $("<form></form>");
            form.attr('action', jumpData.action);
            form.attr('method', 'post');
            if (jumpData.params) {
                var params = jumpData.params;
                for (var p in params) {
                    form.append("<input type='hidden' name='" + p + "' value='" + params[p] + "' />");
                }
            }
            form.appendTo("body");
            form.css('display', 'none');
            form.submit();
            console.log("action:" + jumpData.action);
            console.log("params:" + jumpData.params);
        }
    });
</script>

</body>
</html>