<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:include="include :: header"></head>
<title>Payment Demo</title>

<body>
<div th:replace="components/menu :: menu"></div>
<div id="space_to_render"></div>
<script type=text/javascript>
    var App = {};
    var Method = {};
    var submitText = '產生支付訂單';
</script>

<script src="/js/app_store.js"></script>
<script src="/js/app_action.js"></script>
<script src="/js/app_layout.js"></script>



<div th:include="include :: footer"></div>
</body>
</html>